{% extends "base.html" %}
{% load l10n %}
{% block title %}
    Mail Order Formları
{% endblock %}


{% block content %}
    <br>
    <br>
    <br>
    <div class="content-section">
        <br>
        <div class="media">
            <div class="media-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-css table-hover table-bordered">
                            <thead class="thead-dark align-middle">
                                <tr>
                                    <th colspan="4"><h2>{{ mailorder.customer_name }} Firmasına Ait Mail Order</h2></th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                    <td class="align-left"  style="background-color:#E8E8E8;"><b>Müşteri Adı Soyadı / Firma Adı</b></td>
                                    <td class="align-left" style="text-transform:uppercase;" colspan="3"> {{ mailorder.customer_name }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left align-left" style="background-color:#E8E8E8;"><b>Adres</b></td>
                                    <td class="align-left" style="text-transform:uppercase;" colspan="3"> {{ mailorder.address }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Mobil / Sabit Telefon</b></td>
                                    <td class="align-left" style="text-transform:uppercase;" colspan="3"> {{ mailorder.phone }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left" style="background-color:#E8E8E8;"><b>Banka Adı</b></td>
                                    <td class="align-left" colspan="3"> {{ mailorder.bank }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left" style="background-color:#E8E8E8;"><b>Kart No</b></td>
                                    <td class="align-left" id="spacedText" colspan="3"> {{mailorder.card_number|unlocalize}} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Son Kul. Tar. (Ay)</b></td>
                                    <td class="align-left"> {{ mailorder.expiry_month }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Son Kul. Tar. (Yıl)</b></td>
                                    <td class="align-left"> {{ mailorder.expiry_year }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Güvenlik Kodu</b></td>
                                    <td class="align-left"> {{ mailorder.security_code }} </td>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Kart Sahibi<b></td>
                                    <td class="align-left" style="text-transform:uppercase;"> {{ mailorder.owner }} </td>  
                                </tr>
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme Tarihi</b></td>
                                    <td class="align-left"> {{ mailorder.date }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme Tutarı (Rakamla)<b></td>
                                    <td class="align-left"> {{ mailorder.amount }} TL </td> 
                                </tr>    
                                <tr>
                                    <td class="align-left" style="background-color:#E8E8E8;"><b>Ödeme Tutarı (Yazıyla)</b></td>
                                    <td class="align-left" colspan="3"> {{ mailorder.amount_write|localize }} </td> 
                                </tr>  
                                
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <td class="align-middle"> <a href="{% url 'mailorder-bill' mailorder.id %}" class="btn btn-secondary btn-sm">Mail Order Görüntüle</a> <a href="{% url 'delete-mailorder' mailorder.pk %}" class="btn btn-danger btn-sm">Mail Order Sil</a> </td>
    <a href="{% url 'edit-mailorder' mailorder.pk %}" class="btn btn-info" style="float: right;">Bilgileri Düzenle</a>
    <div class="align-middle">
        {% if bills.has_other_pages %}

            {% if bills.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">İlk</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.previous_page_number }}">Önceki</a>
            {% endif %}

            {% for num in bills.paginator.page_range %}
                {% if bills.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > bills.number|add:'-3' and num < bills.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if bills.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.next_page_number }}">Sonraki</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.paginator.num_pages }}">Son</a>
            {% endif %}

        {% endif %}
    </div>

</div>

<script>
    // Function to add letter spacing every 4 characters
    function addLetterSpacing(text, spacing) {
      var spacedText = '';
      for (var i = 0; i < text.length; i++) {
        spacedText += text[i];
        if ((i + 0) % 4 === 0) {
          spacedText += ' ';
        }
      }
      return spacedText;
    }
  
    // Get the element containing the text
    var textElement = document.getElementById('spacedText');
  
    // Get the text content
    var originalText = textElement.textContent;
  
    // Add letter spacing every 4 characters
    var newText = addLetterSpacing(originalText, 4);
  
    // Update the text content with spacing
    textElement.textContent = newText;
  </script>

{% endblock content %}