{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div>
    <hr>
    <form method="post" id="supplierForm" data-cities-url="{% url 'ajax_load_cities_supplier' %}" data-counties-url="{% url 'ajax_load_counties_supplier' %}" data-positions-url="{% url 'ajax_load_positions_supplier' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Tedarikçi Adı:</label>
                {{ form.name }}
            </div>

            <div class="form-group col-md-6">
                {{ form.phone.errors }}
                <label for="{{ form.phone.id_for_label }}">Telefon:</label>
                {{ form.phone }}
            </div>
        </div>

        <div class="form-group">
            {{ form.address.errors }}
            <label for="{{ form.address.id_for_label }}">Adres:</label>
            {{ form.address }}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.country.errors }}
                <label for="{{ form.country.id_for_label }}">Ülke:</label>
                {{ form.country }}
            </div>

            <div class="form-group col-md-6">
                {{ form.city.errors }}
                <label for="{{ form.city.id_for_label }}">Şehir:</label>
                {{ form.city }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.county.errors }}
                <label for="{{ form.county.id_for_label }}">İlçe:</label>
                {{ form.county }}
            </div>

            <div class="form-group col-md-6">
                {{ form.web.errors }}
                <label for="{{ form.web.id_for_label }}">Web Adresi:</label>
                {{ form.web }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.representative.errors }}
                <label for="{{ form.representative.id_for_label }}">Temsilci:</label>
                {{ form.representative }}
            </div>

            <div class="form-group col-md-6">
                {{ form.department.errors }}
                <label for="{{ form.department.id_for_label }}">Departman:</label>
                {{ form.department }}
            </div>
        </div>

        <div class="form-group">
            {{ form.position.errors }}
            <label for="{{ form.position.id_for_label }}">Görevi:</label>
            {{ form.position }}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.mobile_phone.errors }}
                <label for="{{ form.mobile_phone.id_for_label }}">Cep Telefonu:</label>
                {{ form.mobile_phone }}
            </div>

            <div class="form-group col-md-6">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.tax_id.errors }}
                <label for="{{ form.tax_id.id_for_label }}">Vergi Kimlik No:</label>
                {{ form.tax_id }}
            </div>

            <div class="form-group col-md-6">
                {{ form.tax_administration.errors }}
                <label for="{{ form.tax_administration.id_for_label }}">Vergi Dairesi:</label>
                {{ form.tax_administration }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.kep_address.errors }}
                <label for="{{ form.kep_address.id_for_label }}">Kep Adresi:</label>
                {{ form.kep_address }}
            </div>
    
            <div class="form-group col-md-6">
                {{ form.bank_name.errors }}
                <label for="{{ form.bank_name.id_for_label }}">Banka Adı:</label>
                {{ form.bank_name }}
            </div>
        </div>    

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.iban_no.errors }}
                <label for="{{ form.iban_no.id_for_label }}">Iban Numarası:</label>
                {{ form.iban_no }}
            </div>
    
            <div class="form-group col-md-6">
                {{ form.branch_code.errors }}
                <label for="{{ form.branch_code.id_for_label }}">Şube Kodu:</label>
                {{ form.branch_code }}
            </div>
        </div>    

        <div class="form-group">
            {{ form.account_number.errors }}
            <label for="{{ form.account_number.id_for_label }}">Hesap Numarası:</label>
            {{ form.account_number }}
        </div>

        <br>

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "Yeni Tedarikçi" %}
                <button type="reset" class="btn btn-danger" >Sıfırla</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-supplier' supplier.pk %}" class="btn btn-danger"> Tedarikçi Sil</a>
            {% endif %}
            <a href="{% url 'suppliers-list' %}" class="btn btn-secondary">Vazgeç</a>
        </div>
        
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#id_country").change(function () {
            // Ülke seçim alanı değiştiğinde ilçe alanını temizle
            $("#id_county").val('');

        $("#id_country").change(function () {
            const url = $("#supplierForm").attr("data-cities-url");  // get the url of the `load_cities` view
            const countryId = $(this).val();  // get the selected country ID from the HTML input
    
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'country_id': countryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                    /*
    
                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);
    
                    */
                }
            });
    
        });

        $("#id_city").change(function () {
            const url = $("#supplierForm").attr("data-counties-url");
            const cityId = $(this).val();  // Get the selected city ID
        
            $.ajax({
                url: url,
                data: {
                    'city_id': cityId
                },
                success: function (data) {
                    $("#id_county").html(data);
                }
            });
        });

        $("#id_department").change(function () {
            const url = $("#supplierForm").attr("data-positions-url");
            const departmentId = $(this).val();  // Get the selected city ID
        
            $.ajax({
                url: url,
                data: {
                    'department_id': departmentId
                },
                success: function (data) {
                    $("#id_position").html(data);
                }
            });
        });
    });
});
    </script>
{% endblock content %}