{% extends bill_base %}
{% load static %}

{% load l10n %}
{% block title %} Nakliye Formu : {{ bill.delivery_number }}{% endblock title %}

<style>
    @media print {
        @page {
            size: A4;
            margin: 0;
        }
        body {
            margin: 0;
            padding: 0;
        }
        #printArea {
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
        table {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
</style>

{% block content %}
    <div class="alert alert-info noprint" style="max-width:900px; margin:auto;">
        <b>Yazdırırken:</b> Tarayıcı yazdırma ekranında "Başlıklar ve altbilgiler" seçeneğini kapatın. PDF'e çevirirken de bu ayarı kullanabilirsiniz.
    </div>
    <br>

    <form method="post">
    {% csrf_token %}

    <div id="printArea" class="bg">

            <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                <tbody>
                    <!--
                    <tr style="height: 1px;">
                        <td> <p style="text-align: center;">MALZEME TALEP FİŞİ</p> </td>
                    </tr>
                    -->
                    <tr style="text-align: center;">
                        <td >
                            {% if company %}
                            <span style="margin-top: 20px; display: inline-block;"><img src="{{ company.logo.url }}" alt="Logo" width="380" height="100"></span><br>
                            <!--<span style="font-size: 200%;">{{ company.name }}</span> <br>-->
                            <span style="font-weight: bold;">TELEFON: </span><span>{{ company.phone }}</span> <br>
                            <span style="font-weight: bold;">ADRES: </span><span>{{ company.address }}</span> <br>
                            <span style="font-weight: bold;">EMAIL : </span><span>{{ company.email }}</span> <br><br>
                            {% endif %}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                        <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                            <tbody>
                                <tr>
                                    <td class="inner-box" style="text-align: center; font-weight: bold;background-color:#D3D3D3;" colspan="3">NAKLİYE FORMU</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 50%;" rowspan="2"><span style="font-weight: bold;">&nbsp;SAYIN: </span><br><span>&nbsp;{{ bill.buyer }}</span></td>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;FORM NO</td>
                                    <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.delivery_number }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;TARİH</td>
                                    <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.sending_date|default:bill.created_date }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" colspan="3"><span style="font-weight: bold;">&nbsp;ADRES: </span>
                                        {% if bill.address %}
                                            &nbsp;{{ bill.address }}
                                        {% elif bill.buyer and bill.buyer.address %}
                                            &nbsp;{{ bill.buyer.address }}
                                        {% else %}
                                            &nbsp;-
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;NAKLİYE TÜRÜ</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.delivery_type.name }}</td>
                                </tr>

                                {% if bill.delivery_type.name == 'KARGO' or bill.delivery_type.name == 'POSTA' %}
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;KARGO/POSTA TAKİP NO</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.tracking_number }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;KARGO/POSTA FİRMASI</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.delivery_company }}</td>
                                </tr>
                                {% endif %}

                                {% if bill.delivery_type.name == 'KURYE' or bill.delivery_type.name == 'ARAÇ' %}
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;ŞOFÖR/KURYE ADI</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.courier_name }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;T.C. KİMLİK NO</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.courier_id }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;ŞOFÖR/KURYE NUMARASI</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.courier_number }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;TELEFON</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.courier_phone }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;ARAÇ TÜRÜ</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.vehicle_type }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;ARAÇ PLAKASI</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.vehicle_plate }}</td>
                                </tr>
                                {% endif %}

                                {% if bill.delivery_type.name == 'ARAÇ' %}
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;İZAHAT</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.explanation }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;TONAJDAN SORUMLUYUZ</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{% if bill.tonage %}Evet{% else %}Hayır{% endif %}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;ANALİZLİ S-420</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{% if bill.analysed %}Evet{% else %}Hayır{% endif %}</td>
                                </tr>
                                {% endif %}

                                <!-- Ortak Alanlar -->
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;FİŞ NO</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.billno }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;TESLİM EDEN</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.deliverer }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;GÖNDERİM TARİHİ</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.sending_date }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;TAHMİNİ TESLİMAT TARİHİ</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.estimated_delivery_date }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;GERÇEKLEŞEN TESLİMAT TARİHİ</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.actual_delivery_date }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;İRSALİYE NUMARASI</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.waybill_number }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;DURUM</td>
                                    <td class="inner-box align-left" colspan="2">&nbsp;{{ bill.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                        <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                            <tbody>
                                <tr>
                                    <td class="inner-box" style="width: 35%; text-align: center; font-weight: bold;">NOTLAR</td>
                                    <td class="inner-box align-left" style="width: 65%;">{{ bill.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right;margin-right: 60px;">
                            <br>
                            <span style="font-weight: bold;margin-right: 60px;">FİRMA ADINA &nbsp;&nbsp;</span><span style="font-weight: bold;margin-right: 60px;"><br> Ad / Soyad / İmza</span>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: center;">
                            <!-- FINAL TEXT -->
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <br><br>

        <div class="wrapper d-flex justify-content-center gap-2">
            <button class="btn btn-primary" onclick="printpage('printArea')">Yazdır</button>
            <a href="{% url 'deliveries-list' %}" class="btn btn-secondary">Geri Dön</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
    </script>

{% endblock %}