{% extends bill_base %}
{% load static %}

{% load l10n %}
{% block title %} Mail Order No : {{ bill.id }}{% endblock title %}


{% block content %}
    <div class="alert alert-info noprint" style="max-width:900px; margin:auto;">
        <b>Yazdırırken:</b> Tarayıcı yazdırma ekranında "Başlıklar ve altbilgiler" seçeneğini kapatın. PDF'e çevirirken de bu ayarı kullanabilirsiniz.
    </div>
    <br>
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <!--
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">MAKBUZ - SATINALMA</p> </td>
                        </tr>
                        -->
                        <tr style="text-align: center;">
                            <td >
                                <span><img src="{{mailorder.company.logo.url}}" alt="Logo" width="380" height="100" style="margin-top:20px;"></span><br>
                                <!-- <span style="font-size: 200%;">{{mailorder.company.name}}</span> <br> -->
                                <span style="font-weight: bold;">TELEFON: </span><span>{{mailorder.company.phone}}</span> <br>
                                <span style="font-weight: bold;">ADRES : </span><span>{{mailorder.company.address}}</span> <br>
                                <span style="font-weight: bold;">EMAIL : </span><span>{{mailorder.company.email}}</span> <br><br>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;background-color:#D3D3D3;"  colspan="3">KREDİ KARTI (MAIL ORDER) ÖDEME FORMU </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp; Mail Order Form No</td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{ mailorder.number }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp; Mail Order Tarihi</td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{ mailorder.date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Müşteri Adı Soyadı / Firma Adı </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp; {{ mailorder.customer_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Adres </td>
                                        <td class="inner-box" style="width: 50%; padding-left:10px; vertical-align: middle;" colspan="2">{{ mailorder.address|linebreaks }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; GSM (Cep) / Sabit Telefon </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{ mailorder.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Kredi Kartının Alındığı Banka </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{ mailorder.bank }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Kart Sahibi Adı/Soyadı </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{ mailorder.owner}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Kart Numarası </td>
                                        <td class="inner-box" id="spacedText" style="width: 50%; letter-spacing:3px; margin-right: 1px;" colspan="2">&nbsp;{{mailorder.card_number|unlocalize}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Son Kullanma Tarihi (Ay) </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{mailorder.expiry_month}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Son Kullanma Tarihi (Yıl) </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{mailorder.expiry_year}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Güvenlik Kodu </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{mailorder.security_code}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Ödeme Tutarı (Rakamlı) </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{mailorder.amount}} {{mailorder.currency.symbol}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Ödeme Tutarı (Yazıyla) </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{mailorder.amount_write}}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;" >&nbsp; Ödeme Tarihi </td>
                                        <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{mailorder.date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                            
                        </tr>
                        <tr>
                        
                            <td class="inner-box" style="width: 35%; font-size: 12px;" rowspan="6">
                                <p style="text-align:justify; margin-left:5px;">• Yukarıdaki bilgilerin doğru olduğunu ve özgür irademle yazdığımı kabul ediyorum.</p>
                                <p style="text-align:justify; margin-left:5px;">• Alınan mal veya hizmet bedelinin <span style="font-weight:bold;">{{mailorder.company.name}}</span> işletmesi tarafından, yukarıda belirtilen bilgiler doğrultusunda, alacak olarak kaydedilmesini beyan ederim.</p>
                                <p style="text-align:justify; margin-left:5px;">• Kart numarasının değişmesi, son kullanma tarihinin geçmesi, çalınması, kaybolması durumunda, gerekli yerlere yasal başvuru yapacağımı, satıcı kurumun bu durumla ilişkilendirilmeyeceğini taahhüt ederim.</p>
                                <p style="text-align:justify; margin-left:5px;">• Önceden vermiş olduğum ödeme tarihinde, ödemenin iptalinin istenmesi veya ödenmemesi, söz konusu değildir.</p>
                                <p style="text-align:right;"><span style="font-weight: bold; margin-right: 260px;">Kart Sahibi Ad/Soyad ve İmza</span><span style="font-weight: bold; margin-right: 120px;"> İmza / Firma Kaşe</span>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </p>
                                <p style="text-align:justify; margin-left:5px;">• Formun aslının gönderilmesi gerekmektedir.</p>
                                <p style="text-align:justify; margin-left:5px;">• Yukarıda Kredi Kart Sahibi Olarak Belirtilen Şahsın, Onay işlemi için Nüfus Cüzdan Örneği gerekmektedir. Lütfen Form ile birlikte ek olarak, </p>
                                <p style="text-align:justify; margin-left:40px;">
                                    * Kredi kart Sahibinin Nüfus Cüzdan Örneğini ( Kimlik Fotokopi ) gönderiniz.<br>
                                    * Lütfen bilgileri doldurduktan sonra, İmza ve Firma Kaşenizi vurmayı unutmayınız.
                                </p>
                                <p style="text-align:justify; margin-left:5px;">Formu doldurduktan sonra <span style="font-weight:bold;">{{mailorder.company.name}}, {{mailorder.company.address}}</span> adresine göndermeniz gerekmektedir.<p>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <br><br>

        <div class="wrapper d-flex justify-content-center gap-3">
            <button class="btn btn-primary" onclick="printpage('printArea')">Yazdır</button>
            <!--<button class="btn btn-success" type="submit">Taslağı Kaydet</button>-->
            <a href="{% url 'mailorders-list' %}" class="btn btn-secondary">Geri Dön</a>
        </div>
    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>
        <script>
            // Function to add letter spacing every 4 characters
            function addLetterSpacing(text, spacing) {
              var spacedText = '';
              for (var i = 0; i < text.length; i++) {
                spacedText += text[i];
                if ((i + 1) % 4 === 0) {
                  spacedText += ' ';
                }
              }
              return spacedText;
            }
          
            // Get the element containing the text
            var textElement = document.getElementById('spacedText');
          
            // Get the text content
            var originalText = textElement.textContent;
          
            // Add letter spacing every 4 characters
            var newText = addLetterSpacing(originalText, 4);
          
            // Update the text content with spacing
            textElement.textContent = newText;
          </script>
{% endblock %}