{% extends bill_base %}
{% load static %}
{% load l10n %}

{% block title %} Satın Alma Fatura No : {{ bill.billno }}{% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Satınalma Makbuz No : {{ bill.billno }}</div>
    
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">MAKBUZ - SATINALMA</p> </td>
                        </tr>
                        
                        <tr style="text-align: center;">
                            <td >
                                <span><img src="/static/images/toprak_logo.jpg" alt="Toprak Logo" width="800" height="220"></span>
                                <span style="font-size: 200%;">TOPRAK BORU PROFİL SAC</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">SAN. VE LTD. ŞTİ</span> <br>
                                <span style="font-weight: bold;">ADRES :</span>Yıldırım Beyazıt Mah. 305 No'lu Cad. No: 2/1 <br>Payas - HATAY<br>
                                <span style="font-weight: bold;">EMAIL : info@toprakboruprofil.com</span> <br>
                                <span style="font-weight: bold;">VERGİ KİMLİK NO: 123456789</span> <br><br>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;background-color:#D3D3D3;" colspan="3">SATINALMA MAKBUZU</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp; TEDARİKÇİ ADI</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp; MAKBUZ NO</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.supplier.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;TARİH</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;" rowspan="3">{{ bill.supplier.address|linebreaks }} {{ bill.supplier.county }}, {{ bill.supplier.city }}, {{ bill.supplier.country }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VERGİ KİMLİK NO</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;&nbsp;{{ bill.supplier.tax_id|unlocalize }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VERGİ DAİRESİ</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;&nbsp;{{ bill.supplier.tax_administration }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;İRSALİYE NO</td>
                                        {% for item in items %}
                                            <td class="inner-box align-left" style="width: 25%;">&nbsp; {{ item.waybill_no }}  </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;İLGİLİ KİŞİ : <span style="font-weight:300;"> {{ bill.supplier.representative }}</span></td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;İRSALİYE TARİHİ</td>
                                        {% for item in items %}
                                            <td class="inner-box align-left" style="width: 25%;"> &nbsp; {{ item.waybill_date }}  </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <br>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SIRA</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">ÜRÜNLER</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp; BİRİM </td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">MİKTAR</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">BİRİM FİYAT</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TUTAR</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box align-middle" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp;{{ item.stock.unit }}</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp; {{ item.perprice }} TL</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp;{{ item.totalprice }} TL</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <br>
                                    <tr>
                                        <td class="inner-box" style="width: 35%; text-align: center;" rowspan="7">
                                            <p> <span style="font-weight: bold;">BANKA BİLGİLERİ <br> ORHAN</span> <br>
                                               ZİRAAT BANKASI <br> IBAN - TR05 0000 0000 0000 0000 00 <br> ŞUBE KODU - ABCD 010 0110 <br> HESAP NUMARASI <br> HES NO - 541-010-0400</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        {% for item in items %}
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TOPLAM</td>
                                        <td class="inner-box align-middle">&nbsp; {{ item.totalprice }} TL </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for item in items %}
                                        <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp;KDV (% {{ item.get_tax_rate_display }})</td>
                                        <td class="inner-box align-middle" style="width: 30%;">&nbsp; {{ item.calculate_tax_amount|floatformat:2 }} TL</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for item in items %}
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TOPLAM (KDV DAHİL)</td>
                                        <td class="inner-box align-middle">&nbsp; {{ item.total_with_tax }} TL</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for item in items %}
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;VADE TARİHİ</td>
                                        <td class="inner-box align-middle">&nbsp; {{ item.due_date }}</td>
                                        {% endfor %}
                                    </tr>
                                    
                                    <!--
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;KDV @ %8 </td>
                                        <td class="inner-box align-middle">&nbsp; <input type="text" name="cess" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cess %}{{ billdetails.cess }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;KDV @ %20</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="text" name="tcs" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.tcs %}{{ billdetails.tcs }}{% endif %}"></td>
                                    </tr>
                                -->
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right;margin-right: 60px;">
                                <br>
                                <span style="font-weight: bold;margin-right: 60px;">FİRMA ADINA &nbsp;&nbsp;</span><span style="font-weight: bold;margin-right: 60px;"><br> Ad / Soyad / İmza</span>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Yazdır</button>
            <button class="center btn btn-success" type="submit">Taslağı Kaydet</button>
            <a href="{% url 'purchases-list' %}" class=" btn center btn-secondary">Geri Dön</a>
        </div>
    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}