{% extends bill_base %}
{% load static %}

{% load l10n %}
{% block title %} Tahsilat Makbuzu : {{ bill.number }}{% endblock title %}


{% block content %}
    
    <!--<div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Tahsilat Makbuzu : {{ bill.serial_number }}</div>-->

    <!-- <br><br> -->
    <div class="alert alert-info noprint" style="max-width:900px; margin:auto;">
        <b>Yazdırırken:</b> Tarayıcı yazdırma ekranında "Başlıklar ve altbilgiler" seçeneğini kapatın. PDF'e çevirirken de bu ayarı kullanabilirsiniz.
      </div>
    <br>

    <form method="post">
    {% csrf_token %}

    <div id="printArea" class="bg">

            <table class="outer-box inner-box" style="width: 100%; margin-left: auto; margin-right: auto;">
                <tbody>
                    <!--
                    <tr style="height: 1px;">
                        <td> <p style="text-align: center;">MALZEME TALEP FİŞİ</p> </td>
                    </tr>
                    -->
                    <tr style="text-align: center;">
                        <td >
                            <span><img src="{{ receipt.company.logo.url }}" alt="Logo" width="380" height="100" style="margin-top:20px;"></span><br>
                            <!--<span style="font-size: 200%;">{{ receipt.company.name }}</span> <br>-->
                            <span style="font-weight: bold;">TELEFON: </span><span>{{ receipt.company.phone }}</span> <br>
                            <span style="font-weight: bold;">ADRES: </span><span>{{ receipt.company.address }}</span> <br>
                            <span style="font-weight: bold;">EMAIL : </span><span>{{ receipt.company.email }}</span> <br><br>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                        <table class="outer-box" style="width: 100%; margin-left: auto; margin-right: auto;">
                            <tbody>
                                <tr>
                                    <td class="inner-box" style="text-align: center; font-weight: bold;background-color:#D3D3D3;" colspan="3">TAHSİLAT MAKBUZU</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 50%;" rowspan="2"><span style="font-weight: bold;">ÜNVAN: </span><br><span>{{ receipt.buyer }}</span></td>
                                    <td class="inner-box" style="width: 25%; font-weight:bold;">&nbsp; MAKBUZ SERİ NO</td>
                                    <td class="inner-box" style="width: 25%;">&nbsp;{{ receipt.number }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 25%; font-weight:bold;">&nbsp;&nbsp;TARİH</td>
                                    <td class="inner-box" style="width: 25%;">&nbsp;{{ receipt.created_date }}</td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 50%;" rowspan="3"><span style="font-weight: bold;">ADRES: </span><span>{{ receipt.buyer.address|linebreaks }}</span></td>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;&nbsp;NAKİT</td>
                                    <td class="inner-box align-left" style="width: 25%;"> <input type="text" name="cash" class="align-left" style="border: 0; overflow: hidden;" value="{{ receipt.get_total_cash|floatformat:2 }} {{ receipt.get_currency_symbol }}"> </td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;&nbsp;ÇEK</td>
                                    <td class="inner-box align-left" style="width: 25%;"> <input type="text" name="cheque" class="align-left" style="border: 0; overflow: hidden;" value="{{ receipt.get_total_cheque|floatformat:2 }} {{ receipt.get_currency_symbol }}"> </td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;&nbsp;SENET</td>
                                    <td class="inner-box align-left" style="width: 25%;"> <input type="text" name="bond" class="align-left" style="border: 0; overflow: hidden;" value="{{ receipt.get_total_bond|floatformat:2 }} {{ receipt.get_currency_symbol }}"> </td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;" rowspan="2">İLGİLİ KİŞİ : <span style="font-weight:300;">{{ receipt.buyer.representative }}</span></td>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp; KREDİ KARTI</td>
                                    <td class="inner-box align-left" style="width: 25%;"> <input type="text" name="courier_vehicle" class="align-left" style="border: 0; overflow: hidden;" value="{{ receipt.get_total_creditcard|floatformat:2 }} {{ receipt.get_currency_symbol }}"> </td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp; TOPLAM</td>
                                    <td class="inner-box align-left" style="width: 25%;"> <input type="text" name="total" class="align-left" style="border: 0; overflow: hidden;" value="{{ receipt.get_total_price|floatformat:2 }} {{ receipt.get_currency_symbol }}"> </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                        <table class="outer-box" style="width: 100%; margin-left: auto; margin-right: auto;">
                            <tbody>
                                <tr style="background-color: #f3f3f3;">
                                    <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">ÖDEME YÖNTEMİ</td>
                                    <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TUTAR</td>
                                    <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TARİH</td>
                                    <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">AÇIKLAMA</td>
                                </tr>
                                {% for payment in bill.receipt.payments.all %}
                                <tr style="height: auto;">
                                    <td class="inner-box" style="width: 30%; text-align: center;">{{ payment.payment_method }}</td>
                                    <td class="inner-box align-middle" style="width: 12%; text-align: center;">{{ payment.amount|floatformat:2 }} {{ payment.currency.symbol }}</td>
                                    <td class="inner-box align-middle" style="width: 12%; text-align: center;">{{ payment.date|date:"d/m/Y" }}</td>
                                    <td class="inner-box align-middle" style="width: 12%; text-align: center;">{{ payment.description|default:"-" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                        <table class="outer-box inner-box" style="width: 100%; margin-left: auto; margin-right: auto;">
                            <tbody>
                                <br>
                                <tr>
                                    <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp;TOPLAM TUTAR (YAZI İLE)</td>
                                    <td class="inner-box" style="width: 50%;" colspan="2">&nbsp;{{receipt.payment_handwrite}}</td>
                                </tr>
                                <!--
                                <tr>
                                    <td class="inner-box" style="width: 35%; text-align: center;" rowspan="6">
                                        <p> <span style="font-weight: bold;">NOTLAR <br> </span> <br>
                                           {{bill.description}}</p>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;Analizli S-420</td>
                                    <td class="inner-box align-left">&nbsp; <input type="text" name="analysed" class="align-left" style="border: 0; overflow: hidden;" value="{% if bill.analysed == True %} Evet {% else %} Hayır{% endif %}"></td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;"> </td>
                                    <td class="inner-box align-middle">&nbsp; <input type="text" name="igst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value=""></td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;</td>
                                    <td class="inner-box align-middle">&nbsp; <input type="text" name="cess" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value=""></td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;</td>
                                    <td class="inner-box align-middle">&nbsp; <input type="text" name="tcs" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value=""></td>
                                </tr>
                                <tr>
                                    <td class="inner-box" style="font-weight: bold;">&nbsp;</td>
                                    <td class="inner-box align-middle">&nbsp; <input type="text" name="total" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value=""> </td>
                                </tr>
                            -->
                            </tbody>
                        </table>
                        </td>
                    </tr>
                   
                    <tr>
                        <td style="text-align: right;margin-right: 60px;">
                            <br>
                            <span style="font-weight: bold;margin-right: 60px;">FİRMA ADINA &nbsp;&nbsp;</span><span style="font-weight: bold;margin-right: 60px;"><br> Tahsil Eden Ad / Soyad / İmza</span>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>


                    <tr>
                        <td style="text-align: center;">
                            <!-- FINAL TEXT -->
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <br><br>

        <div class="wrapper d-flex justify-content-center gap-2">
            <button class="btn btn-primary" onclick="printpage('printArea')">Yazdır</button>
            <!-- <button class="center btn btn-success" type="submit">Taslağı Kaydet</button>-->
            <a href="{% url 'receipts-list' %}" class="btn btn-secondary">Geri Dön</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}