{% extends bill_base %}
{% load static %}
{% load l10n %}

{% block title %} Satış Form No : {{ bill }}{% endblock title %}

{% block content %}
    <form method="post">
    {% csrf_token %}

        <div class="bg">
            <br>

            <div id="printArea" class="bg">
                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr style="text-align: center;">
                            <td>
                                <span><img src="{{common.company.logo.url}}" alt="Firma Logo" width="400" height="150" style="object-fit: contain;"></span> <br>
                                <span class="text-uppercase font-weight-bold text-center" style="font-size: 120%;">{{common.company.name}}</span> <br>
                                <span class="text-uppercase font-weight-bold text-center">ADRES:</span><span> {{common.company.address}}</span><br>
                                <span class="text-uppercase font-weight-bold text-center">EMAIL:</span><span> {{common.company.email}}</span> <br>
                                <span class="text-uppercase font-weight-bold text-center">VERGİ KİMLİK NO:</span><span> {{common.company.tax_id}}</span> <br>
                                <span class="text-uppercase font-weight-bold text-center">VERGİ DAİRESİ:</span><span> {{common.company.tax_administration}}</span> <br><br>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;background-color:#D3D3D3;" colspan="3">SATIŞ FORMU</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp; MÜŞTERİ ADI</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp; FORM NO</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.buyer.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;TARİH</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date|date:"d / m / Y" }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;" rowspan="3"><span style="font-weight: bold;">&nbsp;ADRES:</span><br>&nbsp;{{ bill.buyer.address }} <br>&nbsp;{{ bill.buyer.county }}, {{ bill.buyer.city }}, {{ bill.buyer.country }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VERGİ KİMLİK NO</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.buyer.tax_id|unlocalize }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VERGİ DAİRESİ</td>
                                        <td class="inner-box align-left text-uppercase" style="width: 25%;">&nbsp;{{ bill.buyer.tax_administration }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;İRSALİYE NO</td>
                                        <td class="inner-box align-left text-uppercase" style="width: 75%;">
                                            &nbsp;{{ items.0.waybill_no }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;İLGİLİ KİŞİ : <span style="font-weight:300;"> {{ bill.buyer.representative }}</span></td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;İRSALİYE TARİHİ</td>
                                        <td class="inner-box align-left" style="width: 75%;">
                                            &nbsp;{{ items.0.waybill_date|date:"d / m / Y" }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <br>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SIRA</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">ÜRÜNLER</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp; BİRİM </td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">MİKTAR</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">BİRİM FİYAT</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">TUTAR</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box align-middle" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box text-uppercase" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp; {{ item.stock.unit }}</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp; {{ item.perprice }} TL</td>
                                            <td class="inner-box align-middle" style="width: 12%;">&nbsp;{{ item.totalprice }} TL</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <br>
                                    <tr>
                                        <td class="inner-box" style="width: 35%; text-align: center;" rowspan="7">
                                            <p> <span class="font-weight-bold text-uppercase">MÜŞTERİ BANKA BİLGİLERİ</span> <br>
                                                 <span class="text-uppercase"> {{ bill.buyer.bank_name }} </span> <br>
                                                 <span class="text-uppercase"> IBAN - {{bill.buyer.iban_no}} </span> <br> 
                                                 <span class="text-uppercase"> ŞUBE KODU - {{bill.buyer.branch_code|unlocalize}} </span> <br> 
                                                 <span class="text-uppercase"> HESAP NUMARASI - {{bill.buyer.account_number|unlocalize}} </span> <br> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TOPLAM</td>
                                        <td class="inner-box align-middle">&nbsp; {{ bill.get_total_price }} TL </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp;KDV (%{{ items.0.get_tax_rate_display }})</td>
                                        <td class="inner-box align-middle" style="width: 30%;">&nbsp; {{ bill.get_total_tax_amount|floatformat:2 }} TL</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TOPLAM (KDV DAHİL)</td>
                                        <td class="inner-box align-middle">&nbsp; {{ bill.get_total_with_tax }} TL</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;VADE TARİHİ</td>
                                        <td class="inner-box align-middle">&nbsp; {{ items.0.due_date|date:"d / m / Y" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto; margin-top: 20px;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 33%; text-align: center; border: 1px solid black;">
                                            <span style="font-weight: bold;">HAZIRLAYAN</span><br>
                                            <span style="font-weight: bold;">SATIŞ SORUMLUSU</span><br>
                                            <br><br><br><br>
                                        </td>
                                        <td class="inner-box" style="width: 33%; text-align: center; border: 1px solid black;">
                                            <span style="font-weight: bold;">ONAY</span><br>
                                            <span style="font-weight: bold;">MUHASEBE MÜDÜRÜ</span><br>
                                            <br><br><br><br>
                                        </td>
                                        <td class="inner-box" style="width: 33%; text-align: center; border: 1px solid black;">
                                            <span style="font-weight: bold;">YÖNETİM ONAYI</span><br>
                                            <span style="font-weight: bold;">GENEL MÜDÜR</span><br>
                                            <br><br><br><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <br><br>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <br><br>

        <div class="d-flex justify-content-center mt-4">
            <div class="mx-3">
                <button class="btn btn-primary px-4" onclick="printpage('printArea')">
                    <i class="fas fa-print me-2"></i>Yazdır
                </button>
            </div>
            <!--    
            <div class="mx-3">
                <button class="btn btn-success px-4" type="submit">
                    <i class="fas fa-save me-2"></i>Taslağı Kaydet
                </button>
            </div>
            -->
            <div class="mx-3">
                <a href="{% url 'sales-list' %}" class="btn btn-secondary px-4">
                    <i class="fas fa-arrow-left me-2"></i>Geri Dön
                </a>
            </div>
        </div>
    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
    </script>

{% endblock %}