{% extends "base.html" %}


{% block title %}
  {{ buyer.name }}'ın Profili
{% endblock %}


{% block content %}

    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 style="color:#575757;" class="account-heading">&nbsp;{{ buyer.name }}</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p class="fal">
                            <b>Telefon &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.phone }} <br>
                            <b>Adres &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> <br> {{ buyer.address|linebreaks }}
                            <b>Ülke &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.country }} <br>
                            <b>Şehir &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.city }} <br>
                            <b>İlçe &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.county }} <br>
                            <b>Web Adresi &nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.web }} <br>
                            <b>Temsilci &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.representative }} <br>
                            <b>Görevi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.position }} <br>
                            <b>Cep Telefonu &nbsp; :</b> {{ buyer.mobile_phone }} <br>
                            <b>E-Mail &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.email }} <br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fal">
                            <b>Vergi Kimlik No &nbsp;&nbsp;&nbsp; :</b> {{ buyer.tax_id }} <br>
                            <b>Vergi Dairesi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.tax_administration }} <br>
                            <b>Kep Adresi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.kep_address }} <br>
                            <b>Banka Adı &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.bank_name }} <br>
                            <b>Iban Numarası &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.iban_no }} <br>
                            <b>Şube Kodu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</b> {{ buyer.branch_code }} <br>
                            <b>Hesap Numarası &nbsp; :</b> {{ buyer.account_number }} <br>
                        </p>
                    </div>
                    <a href="{% url 'edit-buyer' buyer.pk %}" class="btn btn-info" style="float: right;">Bilgileri Düzenle</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-css table-hover table-bordered">
        
        <br>
        
        <thead class="thead-dark align-middle">
            <tr>
                <th width="10%">Satış Emir No.</th>
                <th width="15%">Ürün</th>
                <th width="15%">Miktar</th>
                <th width="15%">Toplam Satılan Fiyat</th>
                <th width="15%">Satılan Tarih</th>
                <th width="30%">İşlemler</th>
            </tr>
        </thead>
      
        <tbody>
            {% for buyer in bills %}
            <tr>
                <td class="align-middle"> <p>{{ buyer.billno }}</p> </td>
                <td class="align-middle">{% for item in buyer.get_items_list %} {{ item.stock.name }} <br> {% endfor %}</td>
                <td class="align-middle">{% for item in buyer.get_items_list %} {{ item.quantity }} <br> {% endfor %}</td>     
                <td class="align-middle">{{ buyer.get_total_price }} TL</td>
                <td class="align-middle">{{ buyer.time.date }}</td>
                <td class="align-middle"> <a href="{% url 'sale-bill'  buyer.billno %}" class="btn btn-secondary">Faturayı Göster</a> <a href="{% url 'delete-sale' buyer.pk %}" class="btn btn-danger">Faturayı Sil</a> </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if bills.has_other_pages %}

            {% if bills.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">İlk</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.previous_page_number }}">Önceki</a>
            {% endif %}

            {% for num in bills.paginator.page_range %}
                {% if bills.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > bills.number|add:'-3' and num < bills.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if bills.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.next_page_number }}">Sonraki</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.paginator.num_pages }}">Son</a>
            {% endif %}

        {% endif %}
    </div>

</div>

{% endblock content %}