{% extends "base.html" %}


{% block title %}
    Nakliyeler
{% endblock %}


{% block content %}
    <br>
    <br>
    <div class="content-section">
        <br>
        <div class="media">
            <div class="media-body">
               
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-css table-hover table-bordered">
                            <thead class="thead-dark align-middle">
                                <tr>
                                    <th colspan="4"><h2>{{ receipt.serial_number }} Seri Numaralı Tahsilat Makbuzu</h2></th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                    <td class="align-left" style="background-color:#E8E8E8;"><b>Ünvan</b></td>
                                    <td class="align-left" colspan="3"> {{ receipt.buyer }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Makbuz Seri No</b></td>
                                    <td class="align-left"> {{ receipt.serial_number }} </td> 
                                    <td class="align-left align-left col-md-3"  style="background-color:#E8E8E8;"><b>Tarih</b></td>
                                    <td class="align-left"> {{ receipt.created_date }} </td> 
                                    
                                </tr>
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 1 Cinsi</b></td>
                                    <td class="align-left"> {{ receipt.payment_one_payment_type }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 1 Tarihi</b></td>
                                    <td class="align-left"> {{ receipt.payment_one_date }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 1 Açıklama</b></td>
                                    <td class="align-left"> {{ receipt.payment_one_description }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 1 Tutarı</b></td>
                                    <td class="align-left"> {{ receipt.payment_one_amount }} TL</td> 
                                </tr>
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 2 Cinsi</b></td>
                                    <td class="align-left"> {{ receipt.payment_two_payment_type }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 2 Tarihi<b></td>
                                    <td class="align-left"> {{ receipt.payment_two_date }} </td> 
                                </tr>  
                                <tr>
    
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 2 Açıklama</b></td>
                                    <td class="align-left"> {{ receipt.payment_two_description }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 2 Tutarı</b></td>
                                    <td class="align-left"> {{ receipt.payment_two_amount }} TL </td> 
                                </tr>   
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 3 Cinsi</b></td>
                                    <td class="align-left"> {{ receipt.payment_three_payment_type }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 3 Tarihi</b></td>
                                    <td class="align-left"> {{ receipt.payment_three_date }} </td> 
                                </tr>  
                                <tr>
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 3 Açıklama</b></td>
                                    <td class="align-left"> {{ receipt.payment_three_description }} </td> 
                                    <td class="align-left align-left col-md-3" style="background-color:#E8E8E8;"><b>Ödeme 3 Tutarı</b></td>
                                    <td class="align-left"> {{ receipt.payment_three_amount }} TL </td> 
                                </tr>   
                                <tr>
                                    
                                    <td class="align-left align-left" style="background-color:#E8E8E8;"><b>Tahsil Eden</b></td>
                                    <td class="align-left" colspan="3"> {{ receipt.collector }} </td> 
                                </tr>  
                                <tr>
                                    <td class="align-left align-left" style="background-color:#E8E8E8;"><b>Ödeme Şekli</b></td>
                                    <td class="align-left" colspan="3"> {{ receipt.payment_method }}  </td> 
                                </tr>
                                <tr>
                                    <td class="align-left align-left" style="background-color:#E8E8E8;"><b>Ödeme Toplamı</b></td>
                                    <td class="align-left" colspan="3"> {{ receipt.get_total_price  }} TL</td> 
                                </tr>
                                <tr>
                                    <td class="align-left align-left" style="background-color:#E8E8E8;"><b>Ödeme Toplamı (Yazı İle)</b></td>
                                    <td class="align-left" colspan="3"> {{ receipt.payment_handwrite }} </td> 
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <td class="align-middle"> <a href="{% url 'receipt-bill' receipt.serial_number %}" class="btn btn-secondary btn-sm">Makbuz Görüntüle</a> <a href="{% url 'delete-receipt' receipt.pk %}" class="btn btn-danger btn-sm">Makbuzu Sil</a> </td>
    <a href="{% url 'edit-receipt' receipt.pk %}" class="btn btn-info" style="float: right;">Bilgileri Düzenle</a>
    <div class="align-middle">
        {% if bills.has_other_pages %}

            {% if bills.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">İlk</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.previous_page_number }}">Önceki</a>
            {% endif %}

            {% for num in bills.paginator.page_range %}
                {% if bills.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > bills.number|add:'-3' and num < bills.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if bills.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.next_page_number }}">Sonraki</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.paginator.num_pages }}">Son</a>
            {% endif %}

        {% endif %}
    </div>

</div>

{% endblock content %}