{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- Main CSS, then Sidebar CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    

    <style>
        body {
            background-image: url('/static/images/login_photo.jpeg');
            /* Specify background image size and other properties as needed */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* Optionally, you can add a background color in case the image is not loaded or transparent */
            background-color: #f8f9fa; /* Example color */
        }
    </style>
    
    <title>Stok Yönetimi | Çıkış</title>

</head>

<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
        
    

    <div class="row d-flex justify-content-center">
        <div class="col-md-6" style=" background: rgba(255, 255, 255, 0.8); border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <br>
            <div class="align-middle" style="color: #FFFFFF; font-style: bold; font-size: 3rem; background-color:grey;">Stok Yönetim Programı</div>
        <br>
            <h2 class="align-middle" style="color: #000000;">Çıkış yaptınız! Stok Yönetimi'ni kullandığınız için teşekkürler...</h2>
            <div class="border-top pt-3 align-middle">
                <a href="{% url 'login' %}"><button class="ml-2 btn btn-info btn-lg">Tekrar Giriş Yapın</button></a> <br><br>
                {# <button class="ml-2 ghost-red">Exit</button> #}
            </div>
    
            <div class="align-middle"> <a href="{% url 'about' %}">Hakkında</a> </div>
            <br>
        </div>
    </div>
</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>

</html>
