{% extends "base.html" %}

{% load l10n %}
{% block title %}
    Nakliyeler
{% endblock %}


{% block content %}
    <br>
    <br>
    <br>
    <div class="content-section">
        <br>
        <div class="media">
            <div class="media-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-css table-hover table-bordered">
                            <thead class="thead-dark align-middle">
                                <tr>
                                    <th colspan="4"><h2>{{ delivery.billno }} No'lu Nakliye</h2></th>
                                </tr>
                            </thead>
                    
                            <tbody>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Fiş No</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.billno }} </td>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Sipariş Makbuz No</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.sale_item.billno }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Müşteri</b></td>
                                    <td class="align-left" colspan="3"> {{ delivery.buyer }} </td>  
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Malzeme Cinsi</b></td>
                                    <td class="align-left" colspan="3"> {{ delivery.sale_item.stock }} </td> 
                                </tr>
                                <tr>
                                    
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Miktar</b></td>
                                    <td class="align-left" colspan="3"> {{ delivery.sale_item.quantity }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>İzahat</b></td>
                                    <td class="align-left" colspan="3"> {{ delivery.explanation }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Şoför Adı / Soyadı</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.courier_name }} </td> 
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Şoför Aracı</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.courier_vehicle }} </td> 
                                </tr>
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Şoför T.C. Kimlik No</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.courier_id|unlocalize }} </td> 
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Araç Plakası<b></td>
                                    <td class="align-left col-md-3"> {{ delivery.vehicle_plate }} </td> 
                                </tr>  
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Şoför Telefon Numarası</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.courier_phone }} </td> 
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Tarih</b></td>
                                    <td class="align-left col-md-3"> {{ delivery.created_date }} </td> 
                                </tr>  
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Not</b></td>
                                    <td class="align-left col-md-3" colspan="3"> {{ delivery.description }} </td> 
                                </tr>  
                                <tr>
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Tonajdan Sorumluyuz</b></td>
                                    <td class="align-left col-md-3"> {% if delivery.tonage == True %}
                                            <p>Evet</p>
                                        {% else %}
                                            <p>Hayır</p>
                                        {% endif %}
                                    </td> 
                                    <td class="align-left col-md-3" style="background-color:#E8E8E8;"><b>Analizli S-420</b></td>
                                    <td class="align-left col-md-3"> {% if delivery.analysed == True %}
                                            <p>Evet</p>
                                        {% else %}
                                            <p>Hayır</p>
                                        {% endif %}
                                    </td> 
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <td class="align-middle"> <a href="{% url 'delivery-bill' delivery.billno %}" class="btn btn-secondary btn-sm">Fiş Görüntüle</a> <a href="{% url 'delete-delivery' delivery.pk %}" class="btn btn-danger btn-sm">Fişi Sil</a> </td>
    <a href="{% url 'edit-delivery' delivery.pk %}" class="btn btn-info" style="float: right;">Bilgileri Düzenle</a>
    <div class="align-middle">
        {% if bills.has_other_pages %}

            {% if bills.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">İlk</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.previous_page_number }}">Önceki</a>
            {% endif %}

            {% for num in bills.paginator.page_range %}
                {% if bills.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > bills.number|add:'-3' and num < bills.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if bills.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.next_page_number }}">Sonraki</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.paginator.num_pages }}">Son</a>
            {% endif %}

        {% endif %}
    </div>

</div>

{% endblock content %}