{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;">

    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="form-group">
            <label for="{{ form.deilvery.billno.id_for_label }}">Fiş No:</label>
            {{ form.billno}}
        </div>
        <div class="form-group">
            <label for="{{ form.sale_item.id_for_label }}">Sipariş:</label>
            {{ form.sale_item}}
        </div>
        <div class="form-group">
            <label for="{{ form.buyer.id_for_label }}">Müşteri:</label>
            {{ form.buyer}}
        </div>
        <div class="form-group">
            <label for="{{ form.explanation.id_for_label }}">İzahat:</label>
            {{ form.explanation}}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.courier_name.errors }}
                <label for="{{ form.courier_name.id_for_label }}">Şoför Adı / Soyadı:</label>
                {{ form.courier_name }}
            </div>
            <div class="form-group col-md-6">
                {{ form.courier_id.errors }}
                <label for="{{ form.courier_id.id_for_label }}">Şoför T.C. Kimlik No:</label>
                {{ form.courier_id }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.courier_phone.errors }}
                <label for="{{ form.courier_phone.id_for_label }}">Şoför Telefonu:</label>
                {{ form.courier_phone }}
            </div>
            <div class="form-group col-md-6">
                {{ form.courier_vehicle.errors }}
                <label for="{{ form.courier_vehicle.id_for_label }}">Şoför Aracı:</label>
                {{ form.courier_vehicle }}
            </div>
        </div>

        <div class="form-group">
            {{ form.vehicle_plate.errors }}
            <label for="{{ form.vehicle_plate.id_for_label }}">Araç Plakası:</label>
            {{ form.vehicle_plate }}
        </div>

        <div class="form-group">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Not:</label>
            {{ form.description }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.tonage.errors }}
                <label for="{{ form.tonage.id_for_label }}">Tonajdan Sorumluyuz &nbsp;&nbsp;&nbsp;&nbsp;</label>
                {{form.tonage}}
            </div>
            <div class="form-group col-md-6">
                {{ form.analysed.errors }}
                <label for="{{ form.analysed.id_for_label }}">Analizli S-420 &nbsp;&nbsp;&nbsp;&nbsp;</label>
                {{form.analysed}}
            </div>
        </div>
        <br>

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "Yeni Nakliye" %}
                <button type="reset" class="btn btn-danger" >Sıfırla</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-delivery' delivery.pk %}" class="btn btn-danger"> Nakliye Sil</a>
            {% endif %}
            <a href="{% url 'deliveries-list' %}" class="btn btn-secondary">Vazgeç</a>
        </div>
        
    </form>

{% endblock content %}